* {
  color: black !important;
  font-family: 'Lato', 'Sans-serif';
  font-weight: 400; }

body {
  overflow-y: scroll; }

h1 {
  font-size: 6rem; }

.hide {
  display: none !important; }

.fw_300 {
  font-weight: 300; }

.fw_400 {
  font-weight: 400; }

.fs_2rem {
  font-size: 2rem; }

.margin_0 {
  margin: 0; }

.border {
  border: 2px solid black;
  height: 156px !important; }

.container {
  width: 100%;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px; }

.content_container {
  padding: 0;
  display: flex; }

header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%; }

header > * {
  margin-left: 10px;
  margin-right: 10px; }

h1 {
  margin-left: 220px; }

.controls {
  width: 180px;
  max-width: 180px;
  flex: 1 0 180px;
  font-size: 2rem; }

.control_group {
  margin-bottom: 40px; }

.control_toplevel,
.control_secondlevel {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.toggle_container {
  position: relative;
  width: 60px;
  height: 30px; }

.toggle_container input {
  opacity: 0;
  width: 60px;
  height: 30px; }

.toggle {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #000000;
  border: 2px solid #000000;
  transition: all 0.3s ease; }
  .toggle:after {
    content: "";
    position: absolute;
    top: 0;
    right: calc(60px - 30px);
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: white;
    transition: all 0.3s ease; }

input:checked + .toggle {
  background-color: #00ff00; }
  input:checked + .toggle::after {
    content: "";
    right: 0;
    background-color: white; }

.control_secondlevel {
  margin-top: 25px;
  margin-left: 25px; }

.select_container {
  position: relative;
  width: 30px;
  height: 30px; }

.select_container input {
  opacity: 0;
  width: 30px;
  height: 30px; }

.select {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid black;
  transition: all 0.1s ease; }
  .select:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    transform: scale(0);
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #00ff00;
    border: 4px solid white;
    transition: all 0.1s ease; }

input:checked + .select {
  border-color: #00ff00; }
  input:checked + .select::after {
    content: "";
    transform: scale(1); }

.media {
  position: relative;
  flex: 1 0 auto;
  max-width: 800px;
  margin-left: 40px;
  display: flex;
  flex-direction: column; }
  .media > * {
    margin-bottom: 20px; }

.state_container {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .state_container :last-child {
    margin-right: 0px; }

.state {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 20px;
  position: relative; }
  .state.active {
    border-color: #00ff00; }
    .state.active:after {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      width: 26px;
      height: 26px;
      border-radius: 13px;
      background-color: #00ff00;
      border: 4px solid white; }

.audio_container,
.mov_container,
.text_container {
  display: flex; }

canvas {
  width: 100%;
  height: 100%; }

.audio,
.mov,
.text {
  flex: 1 0 0;
  max-width: 100%; }

.mov_container {
  z-index: -1;
  height: 454px;
  overflow: hidden;
  margin-bottom: 0px; }

.mov_container.small {
  height: 229px;
  border: none; }

.mov {
  height: 100%;
  width: 100%; }

.mov.small {
  width: 50%; }

video {
  position: relative !important;
  width: 100% !important;
  height: 100% !important; }

.text_container {
  min-height: 36px; }

.text {
  font-size: 1.6rem;
  padding: 10px 40px 0 0;
  font-weight: 400;
  min-height: 36px; }
  .text#text_1 {
    backdrop-filter: none;
    background-color: transparent; }
  .text p {
    text-align: left; }

.audio_container {
  border: none;
  margin: 0;
  width: 100%; }

.audio {
  height: 36px;
  overflow: visible; }

.animate_audio {
  height: 72px;
  width: 72px;
  max-width: 72px;
  border-radius: 36px;
  margin: 0 auto; }

.audio_0 {
  background: -webkit-linear-gradient(315deg, #f99e1f 0%, rgba(249, 158, 31, 0) 70%), -webkit-linear-gradient(65deg, #00ff00 10%, rgba(13, 242, 89, 0) 80%), -webkit-linear-gradient(135deg, #0643f9 15%, rgba(6, 67, 249, 0) 80%), -webkit-linear-gradient(205deg, #ff1a66 100%, rgba(255, 26, 102, 0) 70%);
  background: linear-gradient(135deg, #f99e1f 0%, rgba(249, 158, 31, 0) 70%), linear-gradient(25deg, #00ff00 10%, rgba(13, 242, 89, 0) 80%), linear-gradient(315deg, #0643f9 15%, rgba(6, 67, 249, 0) 80%), linear-gradient(245deg, #ff1a66 100%, rgba(255, 26, 102, 0) 70%);
  animation: gradient 2S ease infinite;
  background-size: 300% 300%; }

.audio_1 {
  background: -webkit-linear-gradient(315deg, #00ff00 0%, rgba(174, 240, 6, 0) 70%), -webkit-linear-gradient(65deg, #db0843 10%, rgba(219, 8, 67, 0) 80%), -webkit-linear-gradient(135deg, #03f4df 15%, rgba(3, 244, 223, 0) 80%), -webkit-linear-gradient(205deg, #00ff00 100%, rgba(43, 244, 10, 0) 70%);
  background: linear-gradient(135deg, #00ff00 0%, rgba(174, 240, 6, 0) 70%), linear-gradient(25deg, #db0843 10%, rgba(219, 8, 67, 0) 80%), linear-gradient(315deg, #03f4df 15%, rgba(3, 244, 223, 0) 80%), linear-gradient(245deg, #00ff00 100%, rgba(43, 244, 10, 0) 70%);
  animation: gradient_1 2S ease infinite;
  background-size: 300% 300%; }

@keyframes gradient {
  0% {
    background-position: 50% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 50% 50%; } }

@keyframes gradient_1 {
  0% {
    background-position: 100% 50%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 100% 50%; } }
